<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
<html>
<head>
  <title>TI4 Balanced Map Generator</title>
  <meta name="Description" content="Tool to speed up setup for Twilight Imperium IV by creating map layouts such that the resources/influence/tech specialties available to each player are approximately equal.">
</head>

<body>
  <div class="title">
    <h1>TWILIGHT IMPERIUM IV BALANCED MAP GENERATOR</h1>
  </div>
  </div>
  <form>
    {{ optimize_form }}
  </form>
</body>
