@font-face {
	    font-family: 'ti_font';
	        src: url(Slider-Regular.woff);
	}

* {
	font-family: 'ti_font';
}

label {
	display: inline-block;
}

input[type=submit] {
	    width: 20em;  height: 2em;
}
